.EditProfile-Content {
	background-color: rgb(66, 0, 86);
	width: 45%;
	height: 50%;
	margin: auto;
	margin-top: 3rem;
	border-radius: 2rem;
	box-shadow: rgba(149, 157, 165, 0.423) 0px 8px 24px;
}

.EditProfile-Content h2 {
	margin-top: 0;
	padding-top: 2rem;
	text-align: center;
	color: rgb(245, 113, 77);
	font-size: 3rem;
}

.EditProfile form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1.5rem;
}
.EditProfile-btns {
	color: rgb(245, 147, 113);
	border: 0;
	text-decoration: none;
	padding: .5rem 1rem;
	border-radius: 1rem;
	transform: scale(1.1);
}
.EditProfile-btns:hover {
	color: rgb(66, 0, 86);
	background-color: rgb(245, 147, 113);
}
.Home-quote {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(66, 0, 86);
	width: 60%;
	margin: auto;
	border-radius: 2rem;
}
.Home-quote h3 {
	color: rgb(245, 113, 77);
	font-size: 1.5rem;
}
.Home-quote p {
	color: rgb(245, 147, 113);
}
.EditProfile-changeP {
	color: rgb(245, 147, 113);
	text-decoration: none;
	padding-top: .5rem;
	transition: color .5s;
}
.EditProfile-changeP:hover {
	color: rgb(245, 113, 77);
	text-decoration: underline;
}
