.Job {
	background-color: rgb(98, 44, 114);
	height: 100%;
}
.Job-Content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
	margin: auto;
	padding: 0.5rem;
	border-radius: 2rem;
	color: rgb(245, 115, 77);
	background-color: rgb(66, 0, 86);
	box-shadow: rgba(149, 157, 165, 0.423) 0px 8px 24px;
}
.Company-Content-Apply button {
	border: 0;
	padding: .5rem 1rem;
	border-radius: 2rem;
	background-color: rgb(245, 115, 77);
	color: rgb(98, 44, 114);
	transition: trasform .5s;
}
.Company-Content-Apply button:hover {
	background-color: rgb(245, 147, 113);
	transform: scale(1.05);
}
.Job h2 {
	margin-top: 0;
	padding-top: 2rem;
	text-align: center;
	color: rgb(245, 113, 77);
	font-size: 3rem;
}
.Job b {
	color: rgb(245, 147, 113);
}
.Job-Content h3 {
	font-weight: bold;
}
.Job-Content-Company h3 {
	color: rgb(245, 115, 77);
	text-decoration: none;
}
.Job-Content-Company a {
	/* background-color: rgb(245, 147, 113); */
	text-decoration: none;
	color: rgb(245, 147, 113);
}

.Company ul li:hover {
	transform: scale(1.05);
}
.Company-Content-Apply {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.Job-returnBtns {
	position: relative;
	z-index: 2;
	top: 5rem;
	display: flex;
	text-decoration: none;
	color: rgb(245, 115, 77);
	border-radius: 2rem;
	padding: 1rem;
	width: 20%;
	/* background-color: rgb(102, 69, 155); */
}
.Job-returnBtns:hover {
	background-color: rgb(245, 147, 113);
	color: rgb(102, 69, 155);
}
